{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}

<div class="col-lg-11">
    <div class="block margin-bottom-sm">
    <div class="mb-3 float-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create New Event
        </button>
    </div>
        <div class="title"><strong>Events</strong></div>
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th>Countdown</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}

              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td data-countdown="{{ event.get_countdown_date }}">{{ event.get_countdown_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form method="post" enctype="multipart/form-data">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="card">
                  <div class="card-body">
                     {% csrf_token %}
                     {{ form|crispy }}
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
  </div>
</div>

{% endblock %}

{% block custom_script %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script type="text/javascript">
    $('[data-countdown]').each(function() {
        const $this = $(this), finalDate = $(this).data('countdown');
        $this.countdown(finalDate, function(event) {
            $this.html(event.strftime('%D d %H h %M m %S s'));
        });
    });
</script>
{% endblock %}
