{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}

<div class="col-lg-11">
    <div class="block margin-bottom-sm">
    <div class="mb-3 float-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add New Past Paper
        </button>
    </div>
        <div class="title"><strong>Past Papers</strong></div>
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Code</th>
              <th>Course Title</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for paper in papers %}

              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ paper.course_code }}</td>
                <td>{{ paper.course_title }}</td>
                <td><a href="{{ paper.paper_file.url }}"><button class="btn btn-outline-info">Download</button></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form method="post" enctype="multipart/form-data">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="card">
                  <div class="card-body">
                     {% csrf_token %}
                     {{ form|crispy }}
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
  </div>
</div>

{% endblock %}
