{% extends 'base.html' %}
{% load static %}


{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
      <div class="row">
        <div class="col msg-window-container">
          <div class="card" id="msgWindow">
            <div class="card-header"><span class="card-title">Chat with Customer Support Agent</span></div>
            <div class="card-body" id="msgs">

              {% for text in texts %}
                {% if text.type == 'incoming' %}
                    <div class="msg from">{{ text.text }}</div>
                {% else %}

                    <div class="msg to">{{ text.text }}</div>
                {% endif %}
              {% endfor %}

{#                    <div class="msg to">{{ message.text }}</div>#}
            </div>
            <div class="card-footer">
                <form method="post">
                  {% csrf_token %}
                  <div class="input-group" id="msgForm" data-sender="me">
                    <input class="form-control" type="text" name="inputMessage" placeholder="Type message and hit [Enter] to send."/>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit">Send</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block custom_script %}

{% endblock %}
