{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12 col-md-12">
    <div class="block margin-bottom-sm">
      <div class="title"><strong>Downlines</strong></div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Date Joined</th>
              <th>Level</th>
            </tr>
          </thead>
          <tbody>
            {% for downline in downlines %}

               <tr>
                 <td>{{ forloop.counter }}</td>
                 <td>{{ downline.user.username }}</td>
                 <td>{{ downline.user.email }}</td>
                 <td>{{ downline.user.profile.phone_number }}</td>
                 <td>{{ downline.user.date_joined|timesince }} ago</td>
                 <td>{{ downline.level }}</td>
               </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </div>
{% endblock %}
