<footer class="footer">
  <div class="footer__block block no-margin-bottom">
    <div class="container-fluid text-center">
      <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        <p>2021 &copy; CareMax. Designed by <a target="_blank" href="#">Somwaki</a>.</p>
    </div>
  </div>
</footer>