
<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="search-panel">
      <div class="search-inner d-flex align-items-center justify-content-center">
        <div class="close-btn">Close <i class="fa fa-close"></i></div>
        <form id="searchForm" action="#">
          <div class="form-group">
            <input type="search" name="search" placeholder="What are you searching for...">
            <button type="submit" class="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
    <div class="container-fluid d-flex align-items-start justify-content-between">
      <div class="navbar-header">
        <!-- Navbar Header--><a href="#" class="navbar-brand">
          <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">CARE</strong><strong>MAX</strong></div>
          <div class="brand-text brand-sm"><strong class="text-primary">C</strong><strong>M</strong></div></a>
        <!-- Sidebar Toggle Btn-->
        <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
      </div>
        <div class="right-menu list-inline no-margin-bottom">
            <div class="list-inline-item logout"><a id="logout" href="{% url 'logout' %}" class="nav-link">Logout <i class="icon-logout"></i></a></div>
        </div>
    </div>
  </nav>
</header>