{% load static %}


      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="{% static 'img/avatar-6.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h5">{{ user.username }}</h1>
            <p>Logged {{ user.last_login|timesince }} ago</p>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
                <li><a href="#"> <i class="icon-home"></i>Dashboard </a></li>
                <li><a href="#investmentDropDown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Investment </a>
                      <ul id="investmentDropDown" class="collapse list-unstyled ">
                        <li><a href="#">Invest</a></li>
                        <li><a href="#">Investment History</a></li>
                      </ul>
                </li>
                <li><a href="#withdrawalDropDown" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote"></i>Withdrawals </a>
                    <ul id="withdrawalDropDown" class="collapse list-unstyled ">
                    <li><a href="#">Withdraw Investment</a></li>
                    <li><a href="#">Withdraw Referral Bonus</a></li>
                  </ul>
                </li>
                <li><a href="#profileDropDown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Profile </a>
{#                  <ul id="profileDropDown" class="collapse list-unstyled ">#}
{#                    <li><a href="{% url 'profile' %}">Profile</a></li>#}
{#                    <li><a href="{% url 'downlines' %}">Downlines</a></li>#}
{#                  </ul>#}
                </li>
{#            {% if user.is_staff %}#}
{##}
{#                <li><a href="#adminDropDown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>ADMIN </a>#}
{#                  <ul id="adminDropDown" class="collapse list-unstyled ">#}
{#                    <li><a href="{% url 'withdraw-requests' %}">Withdrawal Requests</a></li>#}
{#                    <li><a href="{% url 'add-payment' %}">Add Payment</a></li>#}
{#                    <li><a href="/admin/">Admin Management</a></li>#}
{#                  </ul>#}
{#                </li>#}
{#            {% endif %}#}
{##}
{#        </ul><span class="heading">Extras</span>#}
{#          <ul class="list-unstyled">#}
{#              <li><a target="_blank" href="{{ whatsapp_link }}"> <i class="icon-padnote"></i>Whatsapp </a></li>#}
{#              <li><a href="{% url 'logout' %}"> <i class="icon-logout"></i>Logout </a></li>#}
          </ul>
      </nav>
      <!-- Sidebar Navigation end-->